<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <!-- NAV -->
    <nav>
      <a class="nav-logo" href="home.html">Arselli's</a>
      <ul class="nav-links">
        <li><a href="home.html">Home</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <div>
      <!-- image -->
    </div>

    <!-- photos -->
    <div>
      <!-- retaining walls -->
      <!-- trim, edge, mulch -->
      <!-- irrigation -->
      <!-- lighting -->
    </div>

    <!-- contact banner -->
    <div>
      <p>arsellislandscape.com</p>
      <p>1410 Alum Cliff Rd, Chillicothe OH, 45601</p>
      <p>(740) 775-8177</p>
    </div>

    <!-- copyright -->
    <div>Copyright 2026 Arselli's Inc. All rights reservered.</div>
    <a>facebook</a>
    <a>instagram</a>
    <a>linkedin</a>
  </body>
</html>
